@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-lilac: #EFECF3;
  --color-orange: #EED9CF;
  --color-gold: #F0E8E1;
  --color-purple: #B774F0;

  --container-sm: 40rem;/*640px;*/
  --container-md: 48rem;/*768px;*/
  --container-lg: 64rem;/*1024px;*/
  --container-xl: 80rem;/*1280px;*/
}